.page-title {
    margin-top: 1.8rem;
}

.card {
    width: 100%!important;
}

.btn-margin-top {
    margin-top: 1.25rem !important;
}

.btn {
    width: 10rem !important;
    align-items: center;
    margin-left: 1rem;
}






