<div class="row">
    <h1 class="page-title">Room Details</h1>
    <div *ngIf="room">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Room</h5>
              Name: <label>{{room.name}}</label>
              <hr>
              Date: <label>{{room.date}}</label>
              <hr>
              Start hour: <label>{{room.startHour}}</label>
              <hr>
              End hour: <label>{{room.endHour}}</label>
            </div>
        </div>
    </div>
    <button class="btn-margin-top btn btn-primary" (click)="goToList()">Back to Room list</button>
</div>
